* {
  font-family: "Manrope", sans-serif;
}

body {
  background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}
.add-new-book {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  display: block;
  color: #f2f2f2;
  padding: 15px 30px;
  font-size: 1rem;
  border-style: none;
  border-radius: 1.1rem;
  margin: 0 auto;
}

.display {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20vw);
  justify-content: center;
  gap: 1rem;
}

.display > div {
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.display button {
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  border-style: none;
  color: white;
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}

.remove-button {
  margin-left: 1rem;
}

.modal {
  border-style: none;
  border-radius: 1rem;
  background-image: linear-gradient(
    to top,
    #505285 0%,
    #585e92 12%,
    #65689f 25%,
    #7474b0 37%,
    #7e7ebb 50%,
    #8389c7 62%,
    #9795d4 75%,
    #a2a1dc 87%,
    #b5aee4 100%
  );
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  color: white;
  padding: 0px;
}

.form-row label {
  width: 40%;
}

.form-row input {
  width: 60%;
  border-radius: 1rem;
  border-style: none;
  box-shadow: 1px 1px 1px pink;
}

input:focus {
  border: 1.5px solid blue;
  outline: none;
}

.form-row input[id="read"] {
  width: auto;
  margin-right: 8px;
}

.form-submit-button {
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
  color: white;
  border-style: none;
  border-radius: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

input:invalid {
  border: 1px solid red;
}
